html{
	height: 100%;
	margin: 0;
}

body{
	font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Website Title */
.container{
    padding: 30px;
	position: relative;
	background: linear-gradient(45deg, #443B96, #F60B68, #F4483A);
	background-size: 500% 500%;
	animation: change-gradient 10s ease-in-out infinite;
}
@keyframes change-gradient {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}

.container-heading{
    margin: 0;
}

.heading_font{
    color: #ffffff;
	font-family: 'Pacifico', cursive;
	font-size: 35px;
	font-weight: normal;
}

.description p{
	color: #ffffff;
    font-style: italic;
    font-size: 14px;
    margin: -5px 0 0;
}

/* Result */
.results{
    padding: 5px 0 0;
	flex: 1 0 auto;
}

.back-button{
	margin-top: 20px;
	background-color: #04AA6D; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/* margin: 4px 2px; */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #008CBA;
  }
  
  .button1:hover {
	background-color: #008CBA;
	color: white;
  }
